.vc-slideshow{
  .vc-slideshow-slide-left-enter,
  .vc-slideshow-slide-right-leave-active {
    left: -100%!important;
  }

  .vc-slideshow-slide-left-leave-active,
  .vc-slideshow-slide-right-enter {
    left: 100%!important;
  }

  .vc-slideshow-slide-bottom-leave-active, .vc-slideshow-slide-top-enter {
    top: -100%!important;
  }

  .vc-slideshow-slide-top-leave-active, .vc-slideshow-slide-bottom-enter {
    top: 100%!important;
  }
}