.collages-slideshow{
  .slide-left-enter,
  .slide-right-leave-active {
    left: -100%!important;
  }

  .slide-left-leave-active,
  .slide-right-enter {
    left: 100%!important;
  }

  .slide-bottom-leave-active, .slide-top-enter {
    top: -100%!important;
  }

  .slide-top-leave-active, .slide-bottom-enter {
    top: 100%!important;
  }
}