@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

.vc-slideshow{
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: black;
  .vc-slideshow-h1 {
    text-align: center;
    width: 100%;
    height: 100%;
    color: #ff7513;
    display: flex;
    font-size: 1.5em;
    align-items:center;
    justify-content: center;
  }

  .vc-slideshow-spinner-wrapper {
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .vc-slideshow-loading-text {
    font-size: 1.5em;
    color: #ff7513;
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
  }

  .vc-slideshow-spinner-icon {
    margin: 0 5px;
    width: 1.5em;
    height: 1.5em;
    box-sizing: border-box;
    display: inline-block;
    border: solid 2px transparent;
    border-top-color: #ff7513;
    border-left-color: #ff7513;
    border-radius: 50%;
    vertical-align: middle;
    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
  }

  @-webkit-keyframes nprogress-spinner {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes nprogress-spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}