$slidePadding: 0.4em;
$slidePaddingHalf: ($slidePadding/2);
.slide-inner {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.slide.active {
  height: 100%;
  width: 100%;
  .img-animated-wrapper {
    left: 0;
    top: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      padding: 0;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
      transition-duration: 0.5s;
      transition-property: all;
    }
  }

  .is-triple {
    .left-column {
      overflow: hidden;
      position: relative;
    }
    .right-column {
      overflow: hidden;
      position: relative;
      .img-animated-wrapper {
        height: calc(50% - #{$slidePaddingHalf});
        width: 100%;
        &:last-child {
          top: calc(50% + #{$slidePaddingHalf});
        }
      }
    }
    //50|50
    //  |50
    &.is-triple-1 {
      .right-column {
        width: 50%;
        height: 100%;
        .img-animated-wrapper {
          left: $slidePadding;
        }
      }
      .left-column {
        width: 50%;
        height: 100%;
        .img-animated-wrapper {
          width: 100%;
          height: 100%;
        }
      }
    }
    //50|50
    //50|
    &.is-triple-2 {
      flex-direction: row-reverse;
      .right-column {
        width: 50%;
        height: 100%;
      }
      .left-column {
        width: 50%;
        height: 100%;
        .img-animated-wrapper {
          width: 100%;
          height: 100%;
          left: $slidePadding;
        }
      }
    }
    //30|70
    //30|
    &.is-triple-3 {
      flex-direction: row-reverse;
      .right-column {
        width: 30%;
        height: 100%;
      }
      .left-column {
        width: 70%;
        height: 100%;
        .img-animated-wrapper {
          width: 100%;
          height: 100%;
          left: $slidePadding;
        }
      }
    }
    //70|30
    //  |30
    &.is-triple-4 {
      .right-column {
        width: 30%;
        height: 100%;
        .img-animated-wrapper {
          left: $slidePadding;
        }
      }
      .left-column {
        width: 70%;
        height: 100%;
        .img-animated-wrapper {
          width: 100%;
          height: 100%;
        }
      }
    }
    //three vertical images
    &.is-triple-5 {
      .right-column {
        width: calc(100% - 33.333333%);
        height: 100%;
        .img-animated-wrapper {
          width: calc(50% - #{$slidePadding});
          height: 100%;
          left: $slidePadding;
          &:last-child {
            left: calc(50% + #{$slidePadding});
            top: 0;
          }
        }
      }
      .left-column {
        width: 33.333333%;
        height: 100%;
        .img-animated-wrapper {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .is-double {
    .img-animated-wrapper {
      width: 50%;
      &:last-child {
        left: calc(50% + #{$slidePadding});
      }
    }
    &.is-double-2 {
      .img-animated-wrapper {
        width: 30%;
        &:last-child {
          width: 70%;
          left: calc(30% + #{$slidePadding});
        }
      }
    }
    &.is-double-3 {
      .img-animated-wrapper {
        width: 30%;
        left: calc(70% + #{$slidePadding});
        &:last-child {
          width: 70%;
          left: 0;
        }
      }
    }
  }

  .is-single {
    img {
      object-fit: contain;
      &.is-horizontal {
        object-fit: cover;
      }
    }
  }
  .is-four {
    .right-column, .left-column {
      width: 50%;
      height: 100%;
      overflow: hidden;
      position: relative;
    }
    //50|50
    //--|--
    //50|50
    &.is-four-1 {
      .right-column, .left-column {
        .img-animated-wrapper {
          height: calc(50% - #{$slidePaddingHalf});
          width: 100%;
          &:last-child {
            top: calc(50% + #{$slidePaddingHalf});
          }
        }
      }
      .left-column .img-animated-wrapper {
        width: calc(100% - #{$slidePaddingHalf});
      }
      .right-column .img-animated-wrapper {
        left: $slidePaddingHalf;
      }

    }

    //        |30
    //        |--
    //   70   |30
    //        |--
    //        |30
    &.is-four-2 {
      .left-column {
        width: 70%;
        .img-animated-wrapper {
          width: calc(100% - #{$slidePaddingHalf});
        }
      }
      .right-column {
        width: 30%;
        .img-animated-wrapper {
          left: $slidePaddingHalf;
          &:nth-child(1) {
            height: calc(33.333333% - #{$slidePaddingHalf});
          }
          &:nth-child(2) {
            height: calc(33.333333% - #{$slidePaddingHalf});
            top: calc(33.333333% + #{$slidePaddingHalf});
          }
          &:nth-child(3) {
            height: calc(33.333333% - #{$slidePaddingHalf});
            top: calc(66.666666% + #{$slidePadding});
          }
        }
      }
    }

    //30|
    //--|
    //30|   70
    //--|
    //30|
    &.is-four-3 {
      flex-direction: row-reverse;
      .left-column {
        width: 70%;
        .img-animated-wrapper {
          left: $slidePaddingHalf;
          width: calc(100% - #{$slidePaddingHalf});
        }
      }
      .right-column {
        width: 30%;
        .img-animated-wrapper {
          width: calc(100% - #{$slidePaddingHalf});
          &:nth-child(1) {
            height: calc(33.333333% - #{$slidePaddingHalf});
          }
          &:nth-child(2) {
            height: calc(33.333333% - #{$slidePaddingHalf});
            top: calc(33.333333% + #{$slidePaddingHalf});
          }
          &:nth-child(3) {
            height: calc(33.333333% - #{$slidePaddingHalf});
            top: calc(66.666666% + #{$slidePadding});
          }
        }
      }
    }

    //    | 50
    // 50 |------
    //    |25|25
    &.is-four-4 {
      .left-column .img-animated-wrapper {
        width: calc(100% - #{$slidePaddingHalf});
        height: 100%;
      }
      .right-column {
        .img-animated-wrapper {
          left: $slidePaddingHalf;
          &:nth-child(1) {
            height: calc(50% - #{$slidePaddingHalf});
          }
          &:nth-child(2) {
            height: 50%;
            top: calc(50% + #{$slidePaddingHalf});
            width: calc(50% - #{$slidePadding});
          }
          &:nth-child(3) {
            height: 50%;
            top: calc(50% + #{$slidePaddingHalf});
            width: 50%;
            left: calc(50% + #{$slidePaddingHalf});

          }
        }
      }
    }

    //   50 |
    // -----| 50
    // 25|25|
    &.is-four-5 {
      flex-direction: row-reverse;
      .left-column .img-animated-wrapper {
        left: $slidePaddingHalf;
        width: 100%;
        height: 100%;
      }
      .right-column {
        .img-animated-wrapper {
          &:nth-child(1) {
            height: calc(50% - #{$slidePaddingHalf});
            width: calc(100% - #{$slidePaddingHalf})
          }
          &:nth-child(2) {
            height: 50%;
            top: calc(50% + #{$slidePaddingHalf});
            width: calc(50% - #{$slidePaddingHalf});

          }
          &:nth-child(3) {
            height: 50%;
            top: calc(50% + #{$slidePaddingHalf});
            width: calc(50% - #{$slidePadding});
            left: calc(50% + #{$slidePaddingHalf});
          }
        }
      }
    }
  }
  .is-five {
    .right-column, .left-column, .center-column {
      overflow: hidden;
      position: relative;
    }
    //30|  |30
    //--|30|--
    //30|  |30
    &.is-five-1 {
      .right-column, .left-column, .center-column {
        height: 100%;
        width: 33.33333%;
      }
      .center-column {
        .img-animated-wrapper {
          width: calc(100% - #{$slidePadding});
          left: $slidePaddingHalf;
        }
      }
      .left-column {
        .img-animated-wrapper {
          height: calc(50% - #{$slidePaddingHalf});
          width: calc(100% - #{$slidePaddingHalf});
          &:nth-child(1) {
          }
          &:nth-child(2) {
            top: calc(50% + #{$slidePaddingHalf});
          }
        }
      }
      .right-column {
        .img-animated-wrapper {
          left: $slidePaddingHalf;
          height: calc(50% - #{$slidePaddingHalf});
          width: calc(100% - #{$slidePaddingHalf});
          &:nth-child(2) {
            top: calc(50% + #{$slidePaddingHalf});
          }
        }
      }
    }

    // 50  |
    //-----|
    //  |25| 50
    //25|--|
    //  |25|

    &.is-five-3 {
      .right-column, .left-column {
        height: 100%;
        width: 50%;
      }
      .left-column {
        .img-animated-wrapper {
          height: 100%;
          width: calc(100% - #{$slidePaddingHalf});
        }
      }
      .right-column {
        .img-animated-wrapper {
          left: $slidePaddingHalf;
          height: calc(50% - #{$slidePaddingHalf});
          width: calc(100% - #{$slidePaddingHalf});
          &:nth-child(1) {
            height: calc(50% - #{$slidePaddingHalf});
          }
          &:nth-child(2) {
            top: calc(50% + #{$slidePaddingHalf});
            height: calc(25% - #{$slidePaddingHalf});
            width: calc(50% - #{$slidePadding});
          }
          &:nth-child(3) {
            top: calc(50% + #{$slidePaddingHalf});
            left: calc(50% + #{$slidePaddingHalf});
            width: 50%;
            height: calc(50% - 0.2em);
          }
          &:nth-child(4) {
            top: calc(75% + #{$slidePadding});
            height: calc(25% - #{$slidePaddingHalf});
            width: calc(50% - #{$slidePadding});
          }
        }
      }
    }

    //reverse of the 'is-five-3'
    &.is-five-2 {
      flex-direction: row-reverse;
      .right-column, .left-column {
        height: 100%;
        width: 50%;
      }
      .left-column {
        .img-animated-wrapper {
          height: 100%;
          left: $slidePaddingHalf;
          width: calc(100% - #{$slidePaddingHalf});
        }
      }
      .right-column {
        .img-animated-wrapper {
          height: calc(50% - #{$slidePaddingHalf});
          width: calc(100% - #{$slidePaddingHalf});
          &:nth-child(1) {
            height: calc(50% - #{$slidePaddingHalf});
          }
          &:nth-child(2) {
            top: calc(50% + #{$slidePaddingHalf});
            height: calc(25% - #{$slidePaddingHalf});
            width: calc(50% - #{$slidePaddingHalf});
          }
          &:nth-child(3) {
            top: calc(50% + #{$slidePaddingHalf});
            left: calc(50% + #{$slidePaddingHalf});
            width: calc(50% - #{$slidePadding});
            height: calc(50% - 0.2em);
          }
          &:nth-child(4) {
            top: calc(75% + #{$slidePadding});
            height: calc(25% - #{$slidePaddingHalf});
            width: calc(50% - #{$slidePaddingHalf});
          }
        }
      }
    }

  }
}
