.vc-slideshow {
  $slidePadding: 0.4em;
  $slidePaddingHalf: ($slidePadding/2);
  .vc-slideshow-slide-inner {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }
  .vc-slideshow-slide.vc-slideshow-active {
    height: 100%;
    width: 100%;
    .vc-slideshow-img-animated-wrapper {
      left: 0;
      top: 0;
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
      img.vc-slideshow-img {
        width: 100%;
        height: 100%;
        padding: 0;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
        transition-duration: 0.5s;
        transition-property: all;
      }
    }

    .vc-slideshow-is-triple {
      .vc-slideshow-left-column {
        overflow: hidden;
        position: relative;
      }
      .vc-slideshow-right-column {
        overflow: hidden;
        position: relative;
        .vc-slideshow-img-animated-wrapper {
          height: calc(50% - #{$slidePaddingHalf});
          width: 100%;
          &:last-child {
            top: calc(50% + #{$slidePaddingHalf});
          }
        }
      }
      //50|50
      //  |50
      &.vc-slideshow-is-triple-1 {
        .vc-slideshow-right-column {
          width: 50%;
          height: 100%;
          .vc-slideshow-img-animated-wrapper {
            left: $slidePadding;
          }
        }
        .vc-slideshow-left-column {
          width: 50%;
          height: 100%;
          .vc-slideshow-img-animated-wrapper {
            width: 100%;
            height: 100%;
          }
        }
      }
      //50|50
      //50|
      &.vc-slideshow-is-triple-2 {
        flex-direction: row-reverse;
        .vc-slideshow-right-column {
          width: 50%;
          height: 100%;
        }
        .vc-slideshow-left-column {
          width: 50%;
          height: 100%;
          .vc-slideshow-img-animated-wrapper {
            width: 100%;
            height: 100%;
            left: $slidePadding;
          }
        }
      }
      //30|70
      //30|
      &.vc-slideshow-is-triple-3 {
        flex-direction: row-reverse;
        .vc-slideshow-right-column {
          width: 30%;
          height: 100%;
        }
        .vc-slideshow-left-column {
          width: 70%;
          height: 100%;
          .vc-slideshow-img-animated-wrapper {
            width: 100%;
            height: 100%;
            left: $slidePadding;
          }
        }
      }
      //70|30
      //  |30
      &.vc-slideshow-is-triple-4 {
        .vc-slideshow-right-column {
          width: 30%;
          height: 100%;
          .vc-slideshow-img-animated-wrapper {
            left: $slidePadding;
          }
        }
        .vc-slideshow-left-column {
          width: 70%;
          height: 100%;
          .vc-slideshow-img-animated-wrapper {
            width: 100%;
            height: 100%;
          }
        }
      }
      //three vertical images
      &.vc-slideshow-is-triple-5 {
        .vc-slideshow-right-column {
          width: calc(100% - 33.333333%);
          height: 100%;
          .vc-slideshow-img-animated-wrapper {
            width: calc(50% - #{$slidePadding});
            height: 100%;
            left: $slidePadding;
            &:last-child {
              left: calc(50% + #{$slidePadding});
              top: 0;
            }
          }
        }
        .vc-slideshow-left-column {
          width: 33.333333%;
          height: 100%;
          .vc-slideshow-img-animated-wrapper {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .vc-slideshow-is-double {
      .vc-slideshow-img-animated-wrapper {
        width: 50%;
        &:last-child {
          left: calc(50% + #{$slidePadding});
        }
      }
      &.vc-slideshow-is-double-2 {
        .vc-slideshow-img-animated-wrapper {
          width: 30%;
          &:last-child {
            width: 70%;
            left: calc(30% + #{$slidePadding});
          }
        }
      }
      &.vc-slideshow-is-double-3 {
        .vc-slideshow-img-animated-wrapper {
          width: 30%;
          left: calc(70% + #{$slidePadding});
          &:last-child {
            width: 70%;
            left: 0;
          }
        }
      }
    }

    .vc-slideshow-is-single {
      img.vc-slideshow-img {
        object-fit: contain;
        &.vc-slideshow-is-horizontal {
          object-fit: cover;
        }
      }
    }
    .vc-slideshow-is-four {
      .vc-slideshow-right-column, .vc-slideshow-left-column {
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: relative;
      }
      //50|50
      //--|--
      //50|50
      &.vc-slideshow-is-four-1 {
        .vc-slideshow-right-column, .vc-slideshow-left-column {
          .vc-slideshow-img-animated-wrapper {
            height: calc(50% - #{$slidePaddingHalf});
            width: 100%;
            &:last-child {
              top: calc(50% + #{$slidePaddingHalf});
            }
          }
        }
        .vc-slideshow-left-column .vc-slideshow-img-animated-wrapper {
          width: calc(100% - #{$slidePaddingHalf});
        }
        .vc-slideshow-right-column .vc-slideshow-img-animated-wrapper {
          left: $slidePaddingHalf;
        }

      }

      //        |30
      //        |--
      //   70   |30
      //        |--
      //        |30
      &.vc-slideshow-is-four-2 {
        .vc-slideshow-left-column {
          width: 70%;
          .vc-slideshow-img-animated-wrapper {
            width: calc(100% - #{$slidePaddingHalf});
          }
        }
        .vc-slideshow-right-column {
          width: 30%;
          .vc-slideshow-img-animated-wrapper {
            left: $slidePaddingHalf;
            &:nth-child(1) {
              height: calc(33.333333% - #{$slidePaddingHalf});
            }
            &:nth-child(2) {
              height: calc(33.333333% - #{$slidePaddingHalf});
              top: calc(33.333333% + #{$slidePaddingHalf});
            }
            &:nth-child(3) {
              height: calc(33.333333% - #{$slidePaddingHalf});
              top: calc(66.666666% + #{$slidePadding});
            }
          }
        }
      }

      //30|
      //--|
      //30|   70
      //--|
      //30|
      &.vc-slideshow-is-four-3 {
        flex-direction: row-reverse;
        .vc-slideshow-left-column {
          width: 70%;
          .vc-slideshow-img-animated-wrapper {
            left: $slidePaddingHalf;
            width: calc(100% - #{$slidePaddingHalf});
          }
        }
        .vc-slideshow-right-column {
          width: 30%;
          .vc-slideshow-img-animated-wrapper {
            width: calc(100% - #{$slidePaddingHalf});
            &:nth-child(1) {
              height: calc(33.333333% - #{$slidePaddingHalf});
            }
            &:nth-child(2) {
              height: calc(33.333333% - #{$slidePaddingHalf});
              top: calc(33.333333% + #{$slidePaddingHalf});
            }
            &:nth-child(3) {
              height: calc(33.333333% - #{$slidePaddingHalf});
              top: calc(66.666666% + #{$slidePadding});
            }
          }
        }
      }

      //    | 50
      // 50 |------
      //    |25|25
      &.vc-slideshow-is-four-4 {
        .vc-slideshow-left-column .vc-slideshow-img-animated-wrapper {
          width: calc(100% - #{$slidePaddingHalf});
          height: 100%;
        }
        .vc-slideshow-right-column {
          .vc-slideshow-img-animated-wrapper {
            left: $slidePaddingHalf;
            &:nth-child(1) {
              height: calc(50% - #{$slidePaddingHalf});
            }
            &:nth-child(2) {
              height: 50%;
              top: calc(50% + #{$slidePaddingHalf});
              width: calc(50% - #{$slidePadding});
            }
            &:nth-child(3) {
              height: 50%;
              top: calc(50% + #{$slidePaddingHalf});
              width: 50%;
              left: calc(50% + #{$slidePaddingHalf});

            }
          }
        }
      }

      //   50 |
      // -----| 50
      // 25|25|
      &.vc-slideshow-is-four-5 {
        flex-direction: row-reverse;
        .vc-slideshow-left-column .vc-slideshow-img-animated-wrapper {
          left: $slidePaddingHalf;
          width: 100%;
          height: 100%;
        }
        .vc-slideshow-right-column {
          .vc-slideshow-img-animated-wrapper {
            &:nth-child(1) {
              height: calc(50% - #{$slidePaddingHalf});
              width: calc(100% - #{$slidePaddingHalf})
            }
            &:nth-child(2) {
              height: 50%;
              top: calc(50% + #{$slidePaddingHalf});
              width: calc(50% - #{$slidePaddingHalf});

            }
            &:nth-child(3) {
              height: 50%;
              top: calc(50% + #{$slidePaddingHalf});
              width: calc(50% - #{$slidePadding});
              left: calc(50% + #{$slidePaddingHalf});
            }
          }
        }
      }
    }
    .vc-slideshow-is-five {
      .vc-slideshow-right-column, .vc-slideshow-left-column, .vc-slideshow-center-column {
        overflow: hidden;
        position: relative;
      }
      //30|  |30
      //--|30|--
      //30|  |30
      &.vc-slideshow-is-five-1 {
        .vc-slideshow-right-column, .vc-slideshow-left-column, .vc-slideshow-center-column {
          height: 100%;
          width: 33.33333%;
        }
        .vc-slideshow-center-column {
          .ivc-slideshow-mg-animated-wrapper {
            width: calc(100% - #{$slidePadding});
            left: $slidePaddingHalf;
          }
        }
        .vc-slideshow-left-column {
          .vc-slideshow-img-animated-wrapper {
            height: calc(50% - #{$slidePaddingHalf});
            width: calc(100% - #{$slidePaddingHalf});
            &:nth-child(1) {
            }
            &:nth-child(2) {
              top: calc(50% + #{$slidePaddingHalf});
            }
          }
        }
        .vc-slideshow-right-column {
          .vc-slideshow-img-animated-wrapper {
            left: $slidePaddingHalf;
            height: calc(50% - #{$slidePaddingHalf});
            width: calc(100% - #{$slidePaddingHalf});
            &:nth-child(2) {
              top: calc(50% + #{$slidePaddingHalf});
            }
          }
        }
      }

      // 50  |
      //-----|
      //  |25| 50
      //25|--|
      //  |25|

      &.vc-slideshow-is-five-3 {
        .vc-slideshow-right-column, .vc-slideshow-left-column {
          height: 100%;
          width: 50%;
        }
        .vc-slideshow-left-column {
          .vc-slideshow-img-animated-wrapper {
            height: 100%;
            width: calc(100% - #{$slidePaddingHalf});
          }
        }
        .vc-slideshow-right-column {
          .vc-slideshow-img-animated-wrapper {
            left: $slidePaddingHalf;
            height: calc(50% - #{$slidePaddingHalf});
            width: calc(100% - #{$slidePaddingHalf});
            &:nth-child(1) {
              height: calc(50% - #{$slidePaddingHalf});
            }
            &:nth-child(2) {
              top: calc(50% + #{$slidePaddingHalf});
              height: calc(25% - #{$slidePaddingHalf});
              width: calc(50% - #{$slidePadding});
            }
            &:nth-child(3) {
              top: calc(50% + #{$slidePaddingHalf});
              left: calc(50% + #{$slidePaddingHalf});
              width: 50%;
              height: calc(50% - 0.2em);
            }
            &:nth-child(4) {
              top: calc(75% + #{$slidePadding});
              height: calc(25% - #{$slidePaddingHalf});
              width: calc(50% - #{$slidePadding});
            }
          }
        }
      }

      //reverse of the 'is-five-3'
      &.vc-slideshow-is-five-2 {
        flex-direction: row-reverse;
        .vc-slideshow-right-column, .vc-slideshow-left-column {
          height: 100%;
          width: 50%;
        }
        .vc-slideshow-left-column {
          .vc-slideshow-img-animated-wrapper {
            height: 100%;
            left: $slidePaddingHalf;
            width: calc(100% - #{$slidePaddingHalf});
          }
        }
        .vc-slideshow-right-column {
          .vc-slideshow-img-animated-wrapper {
            height: calc(50% - #{$slidePaddingHalf});
            width: calc(100% - #{$slidePaddingHalf});
            &:nth-child(1) {
              height: calc(50% - #{$slidePaddingHalf});
            }
            &:nth-child(2) {
              top: calc(50% + #{$slidePaddingHalf});
              height: calc(25% - #{$slidePaddingHalf});
              width: calc(50% - #{$slidePaddingHalf});
            }
            &:nth-child(3) {
              top: calc(50% + #{$slidePaddingHalf});
              left: calc(50% + #{$slidePaddingHalf});
              width: calc(50% - #{$slidePadding});
              height: calc(50% - 0.2em);
            }
            &:nth-child(4) {
              top: calc(75% + #{$slidePadding});
              height: calc(25% - #{$slidePaddingHalf});
              width: calc(50% - #{$slidePaddingHalf});
            }
          }
        }
      }
    }
  }
}
